<div class="profile_body">
    <div class="profile_menu">
        <div class="profile_intro">
                <span id="profile_intro-name">An Nguyễn</span>
                <span id="profile_intro-role">Thành viên</span>
            </div>
        <div class="profile_menu-detail">
            <div class="profile_menu-item " id="userInfo"><span>Hồ sơ của tôi</span></div>
            <div class="profile_menu-item" id="proStatus"><span>Tình trạng đơn hàng</span></div>
              <div class="profile_menu-item focus-item" id="addressList"><span>Sổ địa chỉ</span></div>
            <div class="profile_menu-item" id="changePass"><span>Đổi mật khẩu</span></div>
            <div class="profile_menu-item" id="Logout"><span>Đăng xuất</span></div>
        </div>
    </div>
    <div class="userStatus">
        <div class="userStatus-name">
            <span>Danh sách địa chỉ khả dụng</span>
        </div>
        <div class="Address-optionList">
                <i class="fas fa-plus-square " id="addressAdd" data-toggle="modal" data-target="#addAdd"></i>
                
        </div>
        <div id="addressHolder">
            {{#each data}}
                <table class="address-profile forList">
                            <tr id="header" class="countName">
                                <td style="background-color: black;"></td>
                                <td class="icon-trash">
                                    <div class="addressUpdate"><i class="fas fa-marker"></i></div>
                                    <div  class="addressDelete" data-id="{{this._id}}"><i class="fas fa-trash-alt"></i></div>
                                    
                                </td>
                            
                            </tr>
                            <tr>
                                <td><strong>Họ và tên</strong></td>
                                <td>{{this.name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Địa chỉ</strong></td>
                                <td>{{this.address}}</td>
                            </tr>
                            <tr>
                                <td><strong>Tỉnh / Thành</strong></td>
                                <td>{{this.province.name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Quận / Huyện</strong></td>
                                <td>{{this.distric.name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Phường / Xã</strong></td>
                                <td>{{this.ward.name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Số điện thoại</strong></td>
                                <td>{{this.phone}}</td>
                            </tr>
                        </table>
            {{/each}}
        </div>
       
    </div>

    {{!-- Modal --}}
     <div class="modal fade" id="addAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">THÊM ĐỊA CHỈ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="accAddForm">
                <div class="form-group">
                    <label for="username">Họ và tên:</label>
                    <input type="text" class="form-control" id="addadd-name" value="">
                </div>
                 <div class="form-group">
                    <label for="username">Địa chỉ:</label>
                    <input type="text" class="form-control" id="addadd-stress" value="">
                </div>
                <div class="form-group">
                    <label for="username">Tỉnh/Thành:</label>
                    <select name="addadd-province" id="addadd-province">

                    </select>
                </div>
                 <div class="form-group">
                    <label for="username">Quận/Huyện:</label>
                    <select name="addadd-district" id="addadd-district">

                    </select>
                </div>
                <div class="form-group">
                    <label for="username">Phường/Xã:</label>
                    <select name="addadd-ward" id="addadd-ward">

                    </select>
                </div>
                <div class="form-group">
                    <label for="username">Số điện thoại:</label>
                    <input type="text" name="addadd-phone" id="addadd-phone">
                </div>
                
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-success" id="addAddBtn">Thêm</button>
        </div>
        </div>
    </div>
    </div>
</div>
<script src="/js/userInfo.js"></script>